body {
  margin: 0;
  padding: 0;
  
  font-family: "PT Sans";
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
    
  background-color: #fefefe;
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  text-align: center;
}

a {
  text-decoration: none;
}

.explanation {
  color: #6c6c6c;

  font-size: 14px;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

  background-color: #fefefe;
}

.main-navigation {
  align-items: center;

  background-color: transparent;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 0px;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #000000; 
}

.menu-item {
  padding: 73px;
}

.menu-item-left {
  padding: 0px 73px;
  text-align: right;
}

.menu-item-right {
  padding: 0px 73px;
  text-align: right;
}

.main-logo {
  position: absolute;
  left: 50%;
  margin-left: -70px;
  top: 0px;
}

.logo {
  width: 459px;
  height: 353px; 
  margin: 0 auto; 
  padding: 60px;
  display: flex;
  align-self: center;
}

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item:first-child {
  order: -2;
}

.features-item h2 {
  font-size: 21px;
  line-height: 21px;
}

.features-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.arguments {
 width: 400px;
  height: 256px;
  color: #ffffff;
  background-color: #90b2d0;
}

.arguments-img {
  width: 800px;
  height: 256px;
}


.arguments p {
  color: #ffffff;
}

.arguments h2 {
  padding-top: 50px;
}

.link-color a {
  color: #fefefe;
  background-color: #706358;
  min-width: 458px;
  margin-top: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link-color a:hover,
.link-color a:focus {
  background-color: #5c4f45;
}

.link-color a:active {
  background-color: #503e33;
  color: #857871;
}

.logo-background {
  background-image: url("../img/bg-photo.jpg");
  background-repeat: no-repeat;
}

.promo {
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;

  background-color: #ffffff;
}

.button {
  margin: auto;
  padding: 10px 60px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.appointment-item input {
  font: inherit;

  background-color: transparent;
  border: 2px solid #000000
}

.inner-page {
  color: #000000;

  background-color: #fefefe;
  background-position: 0 0;
  background-repeat: repeat;
}

.filter {
  display: flex;
  background-image: url(../img/filter-background.jpg);
}

.filter fieldset {
  border: none;
}

.filter-items {
  display: flex;
  justify-content: space-between;
}


.filter legend {
  font-size: 16px;
  line-height: 21px;

  color: #ffffff
}

.filter fieldset {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.catalog-list {
  list-style: none;
}

.catalog-category {
  color: #000000;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
}

.catalog-category:hover,
.catalog-category:focus {
  color: #bcd6e7;
}

.catalog-category:active {
  color: #b2b2b2;
}

.find-button {
  background-color: #81b3d2;
  min-width: 458px;
  margin-top: 56px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container  {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: flex;
  width: 100%;
  text-align: center;
}

.facilities {
  display: flex;
  height: auto;
  margin: 0;
  padding: 0px;

  list-style: none;
}

.facilities-item {
  width: 400px;
  order: -1;
  text-align: center;
}

.continue-item {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  padding: 0px;
  background-color: #ededed;

  list-style: none;
}

.blocks {
  width: 400px;
  text-align: center;
}

.main-footer {
  padding: 10px;
  
  color: #000000;
  background-repeat: repeat;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 70px;
}

.footer-social {
  width: 145px;
  
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-copyright {
  width: 150px;
  margin: 0;
  margin-left: auto;
  text-align: center;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #ffffff;

  background-color: #000000;
}

.user {
  direction: flex;
  width: 575px;
  height: 400px;
  text-align: center;
}

.search {
  text-align: center;
}
















    
